<tr>
  <td>
    <select (change)="handleProductChange($event, 'name')" [ngModel]="product.name">
      <option value="" disabled>Choose Product</option>
      <option *ngFor="let item of ['Pencil', 'Eraser', 'Pens', 'Calculator', 'Books', 'Glue', 'Marker', 'White Board', 'Key Ring']" [value]="item">{{ item }}</option>
    </select>
  </td>
  <td>
    <select (change)="handleProductChange($event, 'quantity')" [ngModel]="product.quantity">
      <option value="" disabled>Choose Quantity</option>
      <option *ngFor="let qty of [1, 2, 3, 4, 5]" [value]="qty">{{ qty }}</option>
    </select>
  </td>
</tr>
